---
title: Projects
layout: default
---

<div class="listofpostsheader">
    <h1>Projects - </h1>
</div>

<div class="listofposts">
    {% assign sortedProjects = site.projects | sort: 'date' | reverse %}
    {% for project in sortedProjects %}
    <div class="container">
      {% if project.cover %} <a href="{{ project.url}}"><div class="postcover" style="background-image: url({{project.cover}});"></div> </a> {% endif %}
        <h2 class="posttitle"> <a href="{{ project.url}}"> {{ project.name }}</a> </h2>
        <p class="postsummary"> {{ project.summary }}</p>

        {% if project.mytags %}
        <div class="containeractions">
          Tags: 
          {% for ltag in project.mytags %}
            {% assign mytag = site.mytags | where: 'title', ltag %}
              <a class="clickable button" href="{{ mytag[0].url  }}">{{ mytag[0].title }}</a>
            {% endfor %}
          </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
