<div id="header">
  <nav id="mainNav">
    <div id="title">
      <a href="/"> 
        <img id="logo" src="{{'/assets/images/favicon-96x96.png' | relative_url}}" alt="Home (Click Me)">
      </a>
      <h1 id="name">Joel Koreth</h1>
    </div>
    
    <div href="javascript:void(0);" class="icon" onclick="hamburgerBun(this)">
      <div id="bar1"></div>
      <div id="bar2"></div>
      <div id="bar3"></div>
    </div>
    <div id="navbarItems">
      {% for item in site.data.navigation %}
        <a href="{{ item.link }}" {% if page.url == item.link %} class="current"{% endif %}> {{ item.name }} </a>
      {% endfor %}
    </div>
  </nav>
  <br>
  <hr>
</div>
