#content {
  max-width: 900px;
  font-family: 'Roboto', sans-serif;
  margin: 50px auto;
}

#content :is(h1, h2, h3, h4, h5, h6) {
  font-family: 'Open Sans', sans-serif;
}

#ProfilePic {
  width: 100%;
}

.container {
  text-align: center;
  border: 1px solid black;
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,.25);   
  display: flex;
  flex-direction: column;
  justify-content: space-between;
	// border-radius: 16px;
  overflow: hidden;
  min-height: 250px;
}

.container a{
  text-decoration: none;
	color: black;


	&:hover,
	&:focus {
		color: #912424;
		outline: none;
	}
}

.containeractions{
  border-top: 1px dotted black; 
  padding: 15px;
  background-color: whitesmoke;
  text-align: left;
}


.actions{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: whitesmoke !important;
  flex-wrap: wrap;
}

.button{
  background-color: white;
  font-size: 15px;
  color: black;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #555555;

	&:hover,
	&:focus {
    background-color: black;
    color: white !important;
  }
}

.clickable {
  box-shadow: 1px 2px 3px 1px rgba(0,0,0,.2);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;

	&:hover,
	&:focus {
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,.2);
  }

  &:active{
    transform: translateY(4px);
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,.1);
  }
}


.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: black;
  padding: 1px;
  grid-row-gap: 1px;
}

.grid-item {
  background-color: white;
  text-align: center;
  padding: 5px;
}

time{
  font-size: 15px;
  color: grey;
}

#the-canvas {
  border: 1px solid black;
  direction: ltr;
}
.listofpostsheader{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.listofposts{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(150px, auto);
  grid-gap: 20px;
  list-style-type: none; 
  padding:0px
}


.posttitle{
  padding: 5px;
}

.postsummary{
  padding: 15px 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

hr {
  background-color: #912424;
  height: 1px; border: 0;
}