#navbarItems a {
    background-color: white;
    color: black;
    margin: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 5px 5px 2px rgba(0,0,0,.2);
    -webkit-tap-highlight-color: transparent;
  }

  #navbarItems a:hover {
    background-color: black;
    color: white;
  }

  #navbarItems a:active {
    transform: translateY(4px);
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,.175);
  }

  #navbarItems .current{
    color: white;
    background-color: #912424;
  }
  
  #name{
    font-family: 'Montserrat', sans-serif;
    margin: 0 25px; 
    font-size: 2em;
  }
  #logo{
    border: 5px solid #2D3A3D;
    border-radius: 5px;
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,.2);
    width: 36px;
    height: 36px;
    min-width: 36px;
    min-height: 36px;
    will-change: transform;
  }
  #logo:hover{
    transition-duration: .5s;
    transform: scale(1.5,1.5) rotate(360deg);
    box-shadow: 2px 5px 20px 5px rgba(0,0,0,.2);
  }

  #logo:active{
    transition-duration: .25s;
    transform: translateY(4px);
    box-shadow: 2px 5px 10px 2px rgba(0,0,0,.2);
  }

  #header{
    max-width: 900px;
    margin: 50px auto;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #title{
    display:flex;
    align-items: center;
  }
  
  .icon {
    display: none;
  }