<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% feed_meta %}
    {% include favicon.html %}
    {% include fonts.html %}
    <title>Joel Koreth | {{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{'/assets/css/styles.css' | relative_url}} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Joel Koreth's personal website">

    <script>
      function setWhiteTheme(){
        console.log("White");
        document.body.style.setProperty('--main-bg-color', '#f7f7f7');
        document.body.style.setProperty('--secondary-bg-color', 'rgb(245, 245, 245)');
        document.body.style.setProperty('--tertiary-bg-color', '#f0f0f0');
        document.body.style.setProperty('--main-text-color', '#000000FF');
        document.body.style.setProperty('--secondary-text-color', '#3C3C4399');
        document.body.style.setProperty('--tertiary-text-color', '#3C3C434D');
        document.body.style.setProperty('--separator-color', '#3C3C434A');
        document.body.style.setProperty('--shadow-colors', '0, 0, 0');
        localStorage.setItem("theme", "white");
      }

      function setDarkTheme(){
          console.log("Black");
          document.body.style.setProperty('--main-bg-color', '#000000FF');
          document.body.style.setProperty('--secondary-bg-color', '#1C1C1EFF');
          document.body.style.setProperty('--tertiary-bg-color', '#2C2C2EFF');
          document.body.style.setProperty('--main-text-color', '#FFFFFFFF');
          document.body.style.setProperty('--secondary-text-color', '#EBEBF599');
          document.body.style.setProperty('--tertiary-text-color', '#EBEBF54D');
          document.body.style.setProperty('--separator-color', '#54545899');
          document.body.style.setProperty('--shadow-colors', ' 83, 83, 83');
          
          localStorage.setItem("theme", "dark");
      }

      function toggleTheme() {
        var style = getComputedStyle(document.body);
        console.log(style.getPropertyValue('--main-bg-color'));
        var bg = style.getPropertyValue('--main-bg-color');
        
        if(bg == "#f7f7f7"){
            setDarkTheme();
        }
        else{
            setWhiteTheme();
        }
      }
    </script>

    <script>
      function load() {
        console.log("load event detected!");
        const currentTheme = localStorage.getItem("theme");

        if(currentTheme == "dark"){
          console.log("Dark theme detected!");
          setDarkTheme();
        }
        else{
          console.log("White theme detected!");
          setWhiteTheme();
        }
      }
      window.onload = load;
    </script>

    <script>
      function hamburgerBun(hamburgerBunInput) {
        var x = document.getElementById("mainNav");
        
        hamburgerBunInput.classList.toggle("animate");  
        
        if (x.className === "") {
          x.className += "responsive";
        } 
        else {
          x.className = "";
        }
      }
      </script>      
  </head>
  <body ontouchstart=""> 
    {% include navigation.html %}
    <div id="content">  
      {{ content }}
    </div>
  </body>
  
</html>
