---
layout: default
---

<h1> {{ page.name }} {% if page.github %} <a href="{{ page.github }}"><i class="fa fa-github" aria-hidden="true"></i></a>  {% endif %}  </h1> 
<time datetime="{{ page.date | date: '%Y-%m-%d' }}"> {{ page.date | date_to_long_string}} </time>

<p> {{page.summary}} </p>


{{ content }}


{% assign taggedprojects =  site.posts | where_exp:"item", "item.project contains page.name" %}
{% if taggedprojects.size != 0 %}

    <h2> Tagged Posts </h2>
    
    <ul class="listofposts" style="">
        {% for project in taggedprojects %}
        <li class="container" style="min-height: 50px;">
            <div>
                <h2 class="posttitle">
                    <a href="{{ project.url }}">{{ project.title }}</a>
                </h2>
                <div class="postsummary">{{ project.summary }}</div>
                </div>
        </li>
        {% endfor %}
    </ul>
    
    {% endif %}